@import url('https://fonts.googleapis.com/css?family=Lobster');

body {
    background-color: #336699;
    font-size: 20px;
    color: #333;
    margin: 0;
    padding: 0;
}

.logo {
  font-family: 'Lobster';
  font-size: 1.8rem;
}

.logofont {
  font-family: 'Lobster';
  font-size: 1.8rem;
}

.button {
  background-color: #336699;
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 25px;
}

.button:hover {
  background-color: #0C4160;
}
